In [9]:
import scripts.stats as st
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
from sklearn import datasets
from importlib import reload

reload(st)

In [10]:
californiaHousing = datasets.fetch_california_housing(data_home="./data/", download_if_missing=True)

df = pd.DataFrame(californiaHousing.data, columns=californiaHousing.feature_names)
df["price"] = californiaHousing.target
df.head(-1)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20634,3.7125,28.0,6.779070,1.148256,1041.0,3.026163,39.27,-121.56,1.168
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847

In [11]:
StatList = ["Median", "Average", "Max", "Min", "Mode","Range", "Standard Deviation", "Variance", "IQR", "CV"]
sampleLength    = df.index[-1]
columnNames = californiaHousing.feature_names
stats = pd.DataFrame(None, columns=columnNames,index=StatList)
stats.head(-1)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Range,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Standard Deviation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Variance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IQR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Calcul de la médianne
for i in range(len(columnNames)):
    med = st.Stats.findMedian(df, columnNames[i])
    stats.loc["Median", columnNames[i]] = med
stats.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
Median,3.5348,29.0,5.229129,1.04878,1166.0,2.818116,34.26,-118.49
Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Calcul de la moyenne
for i in range(len(columnNames)):
    avg = st.Stats.findAverage(df, str(columnNames[i]))
    stats.loc["Average", columnNames[i]] = avg
stats.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
Median,3.5348,29.0,5.229129,1.04878,1166.0,2.818116,34.26,-118.49
Average,3.870671,28.639486,5.429,1.096675,1425.476744,3.070655,35.631861,-119.569704
Max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Trouver le Max
for i in range(len(columnNames)):
    max = st.Stats.findMax(df, str(columnNames[i]))
    stats.loc["Max", columnNames[i]] = max
stats.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
Median,3.5348,29.0,5.229129,1.04878,1166.0,2.818116,34.26,-118.49
Average,3.870671,28.639486,5.429,1.096675,1425.476744,3.070655,35.631861,-119.569704
Max,15.0001,52.0,141.909091,34.066667,35682.0,1243.333333,41.95,-114.31
Min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Trouver le min
for i in range(len(columnNames)):
    min = st.Stats.findMin(df, str(columnNames[i]))
    stats.loc["Min", columnNames[i]] = min
stats.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
Median,3.5348,29.0,5.229129,1.04878,1166.0,2.818116,34.26,-118.49
Average,3.870671,28.639486,5.429,1.096675,1425.476744,3.070655,35.631861,-119.569704
Max,15.0001,52.0,141.909091,34.066667,35682.0,1243.333333,41.95,-114.31
Min,0.4999,1.0,0.846154,0.333333,3.0,0.692308,32.54,-124.35
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Touver le mode
for i in range(len(columnNames)):
    mode = st.Stats.findMode(df, str(columnNames[i]))
    stats.loc["Mode", columnNames[i]] = mode
stats.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
Median,3.5348,29.0,5.229129,1.04878,1166.0,2.818116,34.26,-118.49
Average,3.870671,28.639486,5.429,1.096675,1425.476744,3.070655,35.631861,-119.569704
Max,15.0001,52.0,141.909091,34.066667,35682.0,1243.333333,41.95,-114.31
Min,0.4999,1.0,0.846154,0.333333,3.0,0.692308,32.54,-124.35
Mode,15.0001,52.0,5.0,1.0,891.0,3.0,34.06,-118.31